#applications-table th,
#applications-table td {
  border: 1px solid #eee; 
  padding: 12px;
  text-align: left;
  vertical-align: middle;
}

#applications-table td:first-child,
#applications-table th:first-child {
  width: 15%;
}

#applications-table td:nth-child(2),
#applications-table th:nth-child(2) {
  width: 20%;
}

#applications-table td:nth-child(3),
#applications-table th:nth-child(3) {
  width: 12%;
  text-align: center;
}

#applications-table td:nth-child(4),
#applications-table th:nth-child(4) {
  width: 15%;
  text-align: center;
}

#applications-table td:nth-child(5),
#applications-table th:nth-child(5) {
  width: 13%;
  text-align: center;
}

#applications-table td:nth-child(6),
#applications-table th:nth-child(6) {
  width: 25%;
  text-align: center;
}
